.flex{
    display: flex;
    

}
.container{
    
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    
}

nav{
    
    background-color: rgb(249, 159, 5);
    height: 51px;
    justify-content: center;
    background-size: cover;
    
}

.b2{
   
   background-color: rgb(5, 22, 22);
   height: 40px;
   width: auto;
   background-size: cover;
   
}

.navbar{
    position: absolute;
    height: 100vh;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.97);
    
}

i{
    
    padding: 8px;

}

.sidebar{
    position: fixed;
    margin-top: -1.05%;


}

nav div.b1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;

}

ul li a{

    margin-left: -20px;
    padding: 0px;
    color: rgb(245, 247, 249);
    transition: .3s;
}

ul li{

    padding: 25px;

}
 
ul{
    
    list-style-type: none;
    
}

a{
    
    text-decoration: none;

}

ul li a::before {

    transition: .5s;
    transform: scale(.9);
    
}
  
ul li a:hover::before {
    
    transform: scale(1.1);
   
}
  
ul li a:hover {
   
    color: #f4e514d8;
    text-shadow: 0 0 5px #e0d31edf;
}

.cvbdy{
    background-color: rgb(227 175 69 / 82%);;
    margin-top: 150px;
    
}

.head{
    display: flex;
    top: 125px;
    left: 20px;
    color: #000000;
   
}

h1{
    
    position: absolute;
    margin-left: 250px;
    
}

.cv{

   margin-left:260px ;
   margin-top: 70px;

}

p{
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}