.flex{
    display: flex;
    

}
.container{
    
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    
}

nav{
    
    background-color: rgb(249, 159, 5);
    height: 51px;
    justify-content: center;
    background-size: cover;
    
}


/* header/container part b2 */
.b2{
   
   background-color: rgb(5, 22, 22);
   height: 40px;
   width: auto;
   background-size: cover;
   
}

.navbar{
    position: absolute; 
    height: 100vh;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.97);
    
}

/* sidebar options i*/
i{
    
    padding: 8px;

}

.sidebar{
    
    position: fixed;
    margin-top: -1.05%;


}

nav div.b1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;

}

ul li a{

    margin-left: -20px;
    padding: 0px;
    color: rgb(245, 247, 249);
    transition: .3s;
}

ul li{

    padding: 25px;

}
 
ul{
    
    list-style-type: none;
    
}

a{
    
    text-decoration: none;

}

ul li a::before {

    transition: .5s;
    transform: scale(.9);
    
}
  
ul li a:hover::before {
    
    transform: scale(1.1);
   
}
  
ul li a:hover {
   
    color: #f4e514d8;
    text-shadow: 0 0 5px #e0d31edf;
}

/* profile picture */
.pic{
    
    border: 10px solid rgba(4, 16, 28, 0.549);
    border-radius: 100px 0px 100px 0px;
    height: 400px;
    width: 400px;
    margin-top: 150px;
    margin-left: 20%;
    box-shadow: 0 0 3px 2px rgba(221, 163, 3, 0.656);

}




.about {

    float: right;
    margin-top: 150px;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(247, 152, 10, 0.875);
    
}

.abt{
    /* justify-content: center; */
    text-shadow: 2px 2px 8px #131313b2;

}


h1{

    padding: 0px 20px 0px 33px;
    position: absolute;
    margin-left: 250px;
    text-align: center;
}


.para{
    
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Crimson Text', serif;
    color:rgba(243, 239, 249, 0.84);
    font-family: 'dancing script';
    text-align: center;
    margin-top: 120px;
    padding: 0px 50px 0px 50px;

 }


.container2{

    position: absolute;
    background-color:  rgba(0, 0, 0, 0.866);

 
  }

.btn{
    
    justify-content: center;
    display: flex;
    /* color: rgb(7, 7, 7); */

}

.img button{

    padding: 5px;
    margin: 5px;
    border: 4px solid black;
    border-radius: 10px;

}

button{

    display:inline-block;
    box-sizing: border-box;
    text-decoration:none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:400;
    color:#080808;
    background-color:#d69f08;
    text-align:center;
    position:relative;
    
}

button:hover{

    border-color:#fad904;
    text-shadow: 0 0 5px #e0d31edf;
}

button:active{

   background-color:#472c02d7;
}

@media all and (max-width:30em){
    buttons{
    display:block;
    margin:0.4em auto;
} 
  
}

/* download cv button */
.btn1 i{
    padding: 2px;
    font-size: 10px;
    
    
}

@media all and (max-width: 1476px) {

h1{
    
    margin-left: 60px;
}
    
}

@media all and (min-width: 2000px) {

    h1{
        margin-left: 580px;
    }

}